In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
from Helper_Functions_MC import simulation_demonstration, al_splitting
import pickle
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Read raw data
Small = pd.read_csv("Small.csv")
German = pd.read_csv("German.csv", sep=' ', header=None)
Deloitte = pd.read_csv("Deloitte.csv")
Large = pd.read_csv("Large.csv")

In [ ]:
# Dummify categorical status feature
enc_df=pd.get_dummies(Small['Loan_Status'])

In [ ]:
# Reame to BAD
Small['BAD'] = enc_df['N']

In [ ]:
# Round credit history
Small['Credit_History'] = Small['Credit_History'].round()

In [ ]:
Small.describe(include='all')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,property_Area,Loan_Status,BAD
count,614,599,611,599,613,582,612.000000,613.000000,592.000000,600.00000,564.000000,614,614,614.000000
unique,614,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3,2,NaN
top,LP001002,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Semiurban,Y,NaN
freq,1,487,398,345,479,500,NaN,NaN,NaN,NaN,NaN,233,422,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,5405.540850,1620.888940,146.412162,342.00000,0.842199,NaN,NaN,0.312704
std,NaN,NaN,NaN,NaN,NaN,NaN,6118.914057,2928.624748,85.587325,65.12041,0.364878,NaN,NaN,0.463973
min,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,2875.750000,0.000000,100.000000,360.00000,1.000000,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,3806.000000,1167.000000,128.000000,360.00000,1.000000,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,5803.750000,2302.000000,168.000000,360.00000,1.000000,NaN,NaN,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,NaN,NaN,1.000000

In [ ]:
# Delete useless features
del Small ['Loan_ID'], Small ['Loan_Status']

In [ ]:
# Transform BAD to boolean
German[20] = German[20] -1

In [ ]:
# Rename columns according to source
German.columns = ['Status_of_existing_checking_account', 'Duration_in_month', 'Credit_history', 'Purpose', 'Savings_account/bonds',
                  'Credit_amount', 'Present_employment_since', 'Installment_rate_in_percentage_of_disposable_income', 
                  'Personal_status_and_sex', 'Other_debtors/guarantors', 'Present_residence_since', 'Property', 'Age_in_years',
                  'Other_installment_plans','Housing', 'Number_of_existing_credits_at_this_bank', 'Job', 
                  'Number_of_people_being_liable_to_provide_maintenance_for', 'Telephone', 'foreign_worker', 'BAD']

In [ ]:
German

,Status_of_existing_checking_account,Duration_in_month,Credit_history,Purpose,Savings_account/bonds,Credit_amount,Present_employment_since,Installment_rate_in_percentage_of_disposable_income,Personal_status_and_sex,Other_debtors/guarantors,Present_residence_since,Property,Age_in_years,Other_installment_plans,Housing,Number_of_existing_credits_at_this_bank,Job,Number_of_people_being_liable_to_provide_maintenance_for,Telephone,foreign_worker,BAD
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,0
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,1
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,0
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,0
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,4,A121,31,A143,A152,1,A172,1,A191,A201,0
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,4,A122,40,A143,A152,1,A174,1,A192,A201,0
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,4,A123,38,A143,A152,1,A173,1,A191,A201,0
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,4,A124,23,A143,A153,1,A173,1,A192,A201,1
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,4,A123,27,A143,A152,1,A173,1,A191,A201,0

In [ ]:
Deloitte

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,Home Ownership,Verification Status,Payment Plan,Loan Title,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,Public Record,Revolving Balance,Revolving Utilities,Total Accounts,Initial List Status,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,176346.62670,Not Verified,n,Debt Consolidation,16.284758,1,0,13,0,24246,74.932551,7,w,2929.646315,0.102055,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,39833.92100,Source Verified,n,Debt consolidation,15.412409,0,0,12,0,812,78.297186,13,f,772.769385,0.036181,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,91506.69105,Source Verified,n,Debt Consolidation,28.137619,0,0,14,0,1843,2.073040,20,w,863.324396,18.778660,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,108286.57590,Source Verified,n,Debt consolidation,18.043730,1,0,7,0,13819,67.467951,12,w,288.173196,0.044131,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,44234.82545,Source Verified,n,Credit card refinancing,17.209886,1,3,13,1,1544,85.250761,22,w,129.239553,19.306646,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67458,16164945,13601,6848,13175.28583,59,BAT3193689,9.408858,C,A4,MORTGAGE,83961.15003,Verified,n,Credit card refinancing,28.105127,1,0,13,0,4112,97.779389,19,w,1978.945960,0.023478,564.614852,0.865230,0,INDIVIDUAL,69,0,48,181775,34301,1
67459,35182714,8323,11046,15637.46301,59,BAT1780517,9.972104,C,B3,RENT,65491.12817,Source Verified,n,Credit card refinancing,17.694279,0,0,12,0,9737,15.690703,14,w,3100.803125,0.027095,2.015494,1.403368,0,INDIVIDUAL,14,0,37,22692,8714,0
67460,16435904,15897,32921,12329.45775,59,BAT1761981,19.650943,A,F3,MORTGAGE,34813.96985,Verified,n,Lending loan,10.295774,0,0,7,1,2195,1.500090,9,w,2691.995532,0.028212,5.673092,1.607093,0,INDIVIDUAL,137,0,17,176857,42330,0
67461,5300325,16567,4975,21353.68465,59,BAT2333412,13.169095,D,E3,OWN,96938.83564,Not Verified,n,Debt consolidation,7.614624,0,0,14,0,1172,68.481882,15,f,3659.334202,0.074508,1.157454,0.207608,0,INDIVIDUAL,73,0,61,361339,39075,0
67462,65443173,15353,29875,14207.44860,59,BAT1930365,16.034631,B,D1,MORTGAGE,105123.15580,Verified,n,Debt consolidation,16.052112,0,0,30,0,8762,81.692328,16,f,1324.255922,0.000671,1.856480,0.366386,0,INDIVIDUAL,54,0,47,196960,66060,0

In [ ]:
# Rename status to BAD
Deloitte.rename(columns={'Loan Status':'BAD'}, inplace=True)

In [ ]:
# Delete useless features and those with two high dimensionality
del Deloitte['ID'], Deloitte['Batch Enrolled'], Deloitte['Loan Title']

In [ ]:
Large.describe(include='all')

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,Neg_ammortization,interest_only,lump_sum_payment,property_value,construction_type,occupancy_type,Secured_by,total_units,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
count,148670.000000,148670.0,145326,148670,147762,148670,148536,148670,148670,148670,1.486700e+05,112231.000000,112031.000000,109028.000000,148629.000000,148549,148670,148670,1.335720e+05,148670,148670,148670,148670,139520.000000,148670,148670.000000,148670,148470,148470,133572.000000,148670,148670,148670.000000,124549.000000
unique,NaN,NaN,2,4,2,3,4,2,2,2,NaN,NaN,NaN,NaN,NaN,2,2,2,NaN,2,3,2,4,NaN,4,NaN,2,7,2,NaN,4,2,NaN,NaN
top,NaN,NaN,cf,Male,nopre,type1,p3,l1,nopc,nob/c,NaN,NaN,NaN,NaN,NaN,not_neg,not_int,not_lpsm,NaN,sb,pr,home,1U,NaN,CIB,NaN,CIB,45-54,to_inst,NaN,North,direct,NaN,NaN
freq,NaN,NaN,135348,42346,124621,113173,55934,142344,148114,127908,NaN,NaN,NaN,NaN,NaN,133420,141560,145286,NaN,148637,138201,148637,146480,NaN,48152,NaN,74392,34720,95814,NaN,74722,148637,NaN,NaN
mean,99224.500000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.311177e+05,4.045476,0.441656,3224.996127,335.136582,NaN,NaN,NaN,4.978935e+05,NaN,NaN,NaN,NaN,6957.338876,NaN,699.789103,NaN,NaN,NaN,72.746457,NaN,NaN,0.246445,37.732932
std,42917.476598,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.839093e+05,0.561391,0.513043,3251.121510,58.409084,NaN,NaN,NaN,3.599353e+05,NaN,NaN,NaN,NaN,6496.586382,NaN,115.875857,NaN,NaN,NaN,39.967603,NaN,NaN,0.430942,10.545435
min,24890.000000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.650000e+04,0.000000,-3.638000,0.000000,96.000000,NaN,NaN,NaN,8.000000e+03,NaN,NaN,NaN,NaN,0.000000,NaN,500.000000,NaN,NaN,NaN,0.967478,NaN,NaN,0.000000,5.000000
25%,62057.250000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.965000e+05,3.625000,0.076000,581.490000,360.000000,NaN,NaN,NaN,2.680000e+05,NaN,NaN,NaN,NaN,3720.000000,NaN,599.000000,NaN,NaN,NaN,60.474860,NaN,NaN,0.000000,31.000000
50%,99224.500000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.965000e+05,3.990000,0.390400,2596.450000,360.000000,NaN,NaN,NaN,4.180000e+05,NaN,NaN,NaN,NaN,5760.000000,NaN,699.000000,NaN,NaN,NaN,75.135870,NaN,NaN,0.000000,39.000000
75%,136391.750000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.365000e+05,4.375000,0.775400,4812.500000,360.000000,NaN,NaN,NaN,6.280000e+05,NaN,NaN,NaN,NaN,8520.000000,NaN,800.000000,NaN,NaN,NaN,86.184211,NaN,NaN,0.000000,45.000000
max,173559.000000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.576500e+06,8.000000,3.357000,60000.000000,360.000000,NaN,NaN,NaN,1.650800e+07,NaN,NaN,NaN,NaN,578580.000000,NaN,900.000000,NaN,NaN,NaN,7831.250000,NaN,NaN,1.000000,61.000000

In [ ]:
# Delete non-retail loans
Large = Large[Large['business_or_commercial'] == 'nob/c']

In [ ]:
Large.describe(include='all')

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,Neg_ammortization,interest_only,lump_sum_payment,property_value,construction_type,occupancy_type,Secured_by,total_units,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
count,127908.000000,127908.0,125109,127908,127120,127908,127804,127908,127908,127908,1.279080e+05,98482.000000,98441.000000,95642.000000,127867.000000,127800,127908,127908,1.151050e+05,127908,127908,127908,127908,122364.000000,127908,127908.000000,127908,127867,127867,115105.000000,127908,127908,127908.000000,109677.000000
unique,NaN,NaN,2,4,2,2,4,2,2,1,NaN,NaN,NaN,NaN,NaN,2,2,2,NaN,2,3,2,4,NaN,4,NaN,2,7,2,NaN,4,2,NaN,NaN
top,NaN,NaN,cf,Male,nopre,type1,p4,l1,nopc,nob/c,NaN,NaN,NaN,NaN,NaN,not_neg,not_int,not_lpsm,NaN,sb,pr,home,1U,NaN,CIB,NaN,EXP,45-54,to_inst,NaN,North,direct,NaN,NaN
freq,NaN,NaN,116232,36645,107400,113173,48731,122496,127352,127908,NaN,NaN,NaN,NaN,NaN,115008,121713,125107,NaN,127885,117443,127885,125926,NaN,41857,NaN,64504,29575,80312,NaN,64432,127885,NaN,NaN
mean,99205.907308,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.431580e+05,4.056273,0.366415,3409.544461,332.938960,NaN,NaN,NaN,5.290231e+05,NaN,NaN,NaN,NaN,7301.624988,NaN,699.825515,NaN,NaN,NaN,70.537870,NaN,NaN,0.230377,37.051579
std,42916.298083,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.867794e+05,0.565598,0.476660,3322.829886,60.616468,NaN,NaN,NaN,3.725618e+05,NaN,NaN,NaN,NaN,6786.511385,NaN,115.759382,NaN,NaN,NaN,18.717730,NaN,NaN,0.421075,10.213314
min,24890.000000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.650000e+04,0.000000,-3.638000,0.000000,96.000000,NaN,NaN,NaN,1.800000e+04,NaN,NaN,NaN,NaN,0.000000,NaN,500.000000,NaN,NaN,NaN,0.967478,NaN,NaN,0.000000,5.000000
25%,62053.750000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.065000e+05,3.625000,0.036400,785.017500,360.000000,NaN,NaN,NaN,2.980000e+05,NaN,NaN,NaN,NaN,3960.000000,NaN,600.000000,NaN,NaN,NaN,59.085903,NaN,NaN,0.000000,31.000000
50%,99148.500000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.065000e+05,3.990000,0.323400,2836.855000,360.000000,NaN,NaN,NaN,4.480000e+05,NaN,NaN,NaN,NaN,6000.000000,NaN,699.000000,NaN,NaN,NaN,73.329493,NaN,NaN,0.000000,38.000000
75%,136425.250000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.465000e+05,4.500000,0.652000,5031.250000,360.000000,NaN,NaN,NaN,6.580000e+05,NaN,NaN,NaN,NaN,8880.000000,NaN,800.000000,NaN,NaN,NaN,83.266129,NaN,NaN,0.000000,44.000000
max,173559.000000,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.576500e+06,8.000000,3.357000,60000.000000,360.000000,NaN,NaN,NaN,1.650800e+07,NaN,NaN,NaN,NaN,578580.000000,NaN,900.000000,NaN,NaN,NaN,201.315789,NaN,NaN,1.000000,61.000000

In [ ]:
# Delete useless features
del Large ['ID'], Large ['business_or_commercial']

In [ ]:
# Rename status to BAD
Large.rename(columns={'Status':'BAD'}, inplace=True)

In [ ]:
df_list=[Small, German, Deloitte, Large]

In [ ]:
# Delete columns with more than 30% missing values
for df in df_list:
    df = df[df.columns[df.isnull().mean() < 0.3]]

In [ ]:
for df in df_list:
    df.drop_duplicates()

In [ ]:
# Fill missing values
for df in df_list:


    for feature in df.select_dtypes(exclude="object_").columns:
        df[feature].fillna(df[feature].mean(), inplace=True)

    # Fill missing values
    for feature in df.select_dtypes("object").columns:
        most_frequent_category = df[feature].mode().values[0]
        df[feature].fillna(most_frequent_category, inplace=True)

In [ ]:
# Drop features with only one unique value
for df in df_list:
    for col in df.columns:
        if df[col].nunique() == 1:
            df.drop(col, axis=1, inplace=True)

# Test

In [ ]:
# Simulate datasets
simulations=[2000000]
simulated_dfs = simulation_demonstration(df_list, simulations, return_dfs=True)

In [ ]:
simulated_dfs

[[        Gender Married Dependents Education Self_Employed  ApplicantIncome  \
  0         Male     Yes          0  Graduate            No      5026.507903
  1         Male     Yes          0  Graduate            No      3318.062063
  2         Male     Yes          0  Graduate            No      1461.323970
  3         Male     Yes          0  Graduate            No      7892.103733
  4         Male      No          0  Graduate            No      2987.358633
  ...        ...     ...        ...       ...           ...              ...
  1999995   Male     Yes          0  Graduate            No      5013.989285
  1999996   Male      No          0  Graduate            No      5337.928536
  1999997   Male     Yes          0  Graduate            No      3824.661543
  1999998   Male      No          1  Graduate            No      4302.180533
  1999999   Male     Yes          0  Graduate            No      6619.414321

           CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
  0               375.942637  210.101170        235.361221        0.969661
  1              1925.359743   69.273820        400.602184        1.092508
  2               151.528263   47.493049        213.445358        0.870025
  3                 6.752256  226.979327        323.430806        0.947791
  4              1494.290591  134.140959        400.980577        0.985731
  ...                    ...         ...               ...             ...
  1999995       44563.478635  214.638621        355.846777        1.119402
  1999996         132.995468  192.465271        343.530342        0.982308
  1999997          34.653814  110.590895        342.519181        0.624798
  1999998           0.559099   78.457703        343.521151        1.055904
  1999999           0.933657  319.656503        335.202947        1.090048

          property_Area  BAD
  0               Rural    0
  1           Semiurban    0
  2           Semiurban    0
  3               Rural    0
  4           Semiurban    0
  ...               ...  ...
  1999995     Semiurban    0
  1999996     Semiurban    0
  1999997         Urban    0
  1999998         Rural    0
  1999999         Rural    0

  [2000000 rows x 12 columns]],
 [        Status_of_existing_checking_account  Duration_in_month Credit_history  \
  0                                       A12           6.172585            A32
  1                                       A14          26.212522            A34
  2                                       A14          17.634953            A34
  3                                       A14          13.428444            A32
  4                                       A14          15.805335            A32
  ...                                     ...                ...            ...
  1999995                                 A14          35.477040            A32
  1999996                                 A11          26.891325            A32
  1999997                                 A14           8.534359            A32
  1999998                                 A14          24.849430            A34
  1999999                                 A14          17.440989            A32

          Purpose  Savings_account/bonds Credit_amount Present_employment_since  \
  0           A40             480.366027           A61                      A72
  1           A40            2803.231449           A65                      A75
  2           A43            2217.507571           A61                      A73
  3           A43            2140.229492           A61                      A73
  4           A43            1991.029808           A61                      A73
  ...         ...                    ...           ...                      ...
  1999995     A43            2468.921792           A61                      A74
  1999996     A49            3002.580021           A61                      A74
  1999997     A40             822.880610           A61                      A75
  1999998     A40            3848.386187           A61                      A73
  1999999     A43            1802.688474           A61                      A75

           Installment_rate_in_percentage_of_disposable_income  \
  0                                                 2.532743
  1                                                 4.479069
  2                                                 4.231826
  3                                                 3.307594
  4                                                 2.286409
  ...                                                    ...
  1999995                                           2.766264
  1999996                                           3.266074
  1999997                                           3.777741
  1999998                                           0.909567
  1999999                                           2.862943

          Personal_status_and_sex Other_debtors/guarantors  \
  0                           A93                     A101
  1                           A93                     A101
  2                           A93                     A101
  3                           A93                     A101
  4                           A93                     A101
  ...                         ...                      ...
  1999995                     A92                     A101
  1999996                     A93                     A101
  1999997                     A92                     A101
  1999998                     A92                     A101
  1999999                     A92                     A101

           Present_residence_since Property  Age_in_years  \
  0                       1.827820     A121     28.305818
  1                       3.372815     A121     47.683241
  2                       1.225877     A123     32.321046
  3                       3.621850     A123     48.721141
  4                       1.497365     A122     30.169290
  ...                          ...      ...           ...
  1999995                 1.718716     A123     44.293648
  1999996                 3.761080     A123     32.809794
  1999997                 1.242986     A121     53.217885
  1999998                -0.274644     A121     22.735678
  1999999                 2.470985     A123     31.964548

          Other_installment_plans Housing  \
  0                          A143    A152
  1                          A143    A152
  2                          A143    A152
  3                          A143    A152
  4                          A143    A152
  ...                         ...     ...
  1999995                    A143    A152
  1999996                    A143    A152
  1999997                    A143    A152
  1999998                    A143    A152
  1999999                    A143    A152

           Number_of_existing_credits_at_this_bank   Job  \
  0                                       0.980547  A173
  1                                       1.315700  A173
  2                                       1.645679  A173
  3                                       1.083699  A174
  4                                       1.084313  A173
  ...                                          ...   ...
  1999995                                 1.154464  A172
  1999996                                 1.365671  A174
  1999997                                 1.024521  A174
  1999998                                 1.126583  A173
  1999999                                 0.929562  A173

           Number_of_people_being_liable_to_provide_maintenance_for Telephone  \
  0                                                 0.967516             A191
  1                                                 1.076480             A191
  2                                                 0.950343             A192
  3                                                 1.025423             A192
  4                                                 1.057177             A192
  ...                                                    ...              ...
  1999995                                           1.036472             A192
  1999996                                           1.036039             A191
  1999997                                           0.958887             A192
  1999998                                           1.051817             A191
  1999999                                           0.974670             A191

          foreign_worker  BAD
  0                 A201    0
  1                 A201    0
  2                 A201    0
  3                 A201    0
  4                 A201    0
  ...                ...  ...
  1999995           A201    0
  1999996           A201    0
  1999997           A201    0
  1999998           A201    0
  1999999           A201    0

  [2000000 rows x 21 columns]],
 [          Loan Amount  Funded Amount  Funded Amount Investor       Term  \
  0        20008.092161    5534.487569             6258.936011  58.949516
  1         2114.011816   14256.065938             7433.285405  58.111043
  2        45771.719692    9442.443516            15581.753695  58.492041
  3        10493.398870   11836.331070            15084.931736  58.289111
  4         7131.759813   28206.913354            11917.984249  59.150004
  ...               ...            ...                     ...        ...
  1999995  18272.364504   15029.645707            15540.950661  58.402472
  1999996   5563.241887   22901.283373            27274.941522  58.762585
  1999997  30590.283128   11597.403093            34767.775238  59.136844
  1999998  34877.640564    8661.976689            24371.715797  58.510195
  1999999   9983.934389   30406.838090            26051.233972  59.026776

           Interest Rate Grade Sub Grade Employment Duration  Home Ownership  \
  0             6.164754     B        C1            MORTGAGE    76942.016224
  1             7.183746     C        D1                RENT    63784.235674
  2            10.642339     B        C3            MORTGAGE    79533.869830
  3            11.363070     C        D1                RENT    51046.951535
  4            15.233245     C        C4            MORTGAGE    30249.547822
  ...                ...   ...       ...                 ...             ...
  1999995       7.858019     C        B1                RENT   121756.641800
  1999996      13.786648     A        C3            MORTGAGE    51324.898463
  1999997      11.344654     D        D1            MORTGAGE    41257.608011
  1999998       8.181009     B        A5                RENT   106645.415615
  1999999      17.065512     C        C1            MORTGAGE    76591.742554

          Verification Status  Debit to Income  Delinquency - two years  \
  0           Source Verified        25.317598                 0.074164
  1           Source Verified        33.529145                 0.155895
  2           Source Verified        30.838121                 0.035304
  3           Source Verified         8.597780                -0.043544
  4           Source Verified         8.360658                -0.044726
  ...                     ...              ...                      ...
  1999995        Not Verified        25.527510                 0.009307
  1999996     Source Verified        25.969110                 0.175656
  1999997     Source Verified        34.723040                 0.303593
  1999998        Not Verified        16.377000                 0.132460
  1999999            Verified        23.860636                 0.292015

           Inquires - six months  Open Account  Public Record  \
  0                     0.056956     25.892122      -0.009563
  1                     0.003886     16.111957      -0.010110
  2                     0.054142     13.842685      -0.005391
  3                     0.009206     13.693575       0.033461
  4                     0.003882      9.573031       0.018153
  ...                        ...           ...            ...
  1999995               0.015115     16.593524      -0.008079
  1999996               0.025135      7.896687      -0.009251
  1999997              -0.001294     15.852926       0.011978
  1999998               0.020117      7.062173       0.011307
  1999999              -0.011121     16.931998       0.002838

           Revolving Balance  Revolving Utilities  Total Accounts  \
  0              2024.721169            51.536893       26.521367
  1             10298.904107            20.769408       11.641391
  2             16100.373232            75.635521        6.538623
  3              8902.839375            58.762117       18.824580
  4              2024.008537            51.250827        4.742837
  ...                    ...                  ...             ...
  1999995        6265.646613            20.191346       39.013150
  1999996       14731.051339            95.592300        5.599577
  1999997        2837.704859             4.406326        3.542600
  1999998        7025.697385            57.128760        8.295208
  1999999         101.102374            70.603681       32.207189

          Initial List Status  Total Received Interest  Total Received Late Fee  \
  0                         w              2066.202244                 0.015412
  1                         f              5625.956169                 0.080498
  2                         f              2175.781400                 0.012138
  3                         w               925.632403                 0.099259
  4                         w               250.128731                -0.030660
  ...                     ...                      ...                      ...
  1999995                   w                 9.719401                 0.025745
  1999996                   w              1391.354286                 0.085870
  1999997                   w             16237.302262                 0.164862
  1999998                   f              3326.791352                 0.041198
  1999999                   w               220.709603                 0.067121

           Recoveries  Collection Recovery Fee  Collection 12 months Medical  \
  0          3.970909                 0.615366                             0
  1          0.253077                 0.643385                             0
  2         34.222433                 0.480804                             0
  3          1.263745                 0.522096                             0
  4          2.605202                 1.155638                             0
  ...             ...                      ...                           ...
  1999995    3.868699                 0.887839                             0
  1999996    0.519851                 0.381278                             0
  1999997    0.417702                 1.674875                             0
  1999998   16.727289                 0.343422                             0
  1999999    3.187125                 0.443957                             0

          Application Type  Last week Pay  Total Collection Amount  \
  0             INDIVIDUAL      65.994853                38.382225
  1             INDIVIDUAL      16.262031                63.818291
  2             INDIVIDUAL      37.604495                61.402770
  3             INDIVIDUAL      49.990596               223.427691
  4             INDIVIDUAL      12.085896                33.220631
  ...                  ...            ...                      ...
  1999995       INDIVIDUAL      76.565898                19.863085
  1999996       INDIVIDUAL     141.727596                33.104101
  1999997       INDIVIDUAL      36.534682                53.592303
  1999998       INDIVIDUAL      59.436157                64.580746
  1999999       INDIVIDUAL      40.694024              2996.772368

           Total Current Balance  Total Revolving Credit Limit  BAD
  0                524437.203892                  35244.461578    0
  1                193778.161072                   8134.672408    0
  2                255183.537737                  14892.091167    0
  3                329939.290020                  12232.530301    0
  4                614240.784191                  12283.865805    0
  ...                        ...                           ...  ...
  1999995           44634.532940                  10870.005307    0
  1999996          125717.141504                    775.426150    0
  1999997          177862.736872                  24951.115785    0
  1999998          220014.064803                  15343.024431    1
  1999999          104240.876556                  46965.646455    0

  [2000000 rows x 30 columns]],
 [        loan_limit Gender approv_in_adv loan_type loan_purpose  \
  0               cf  Joint         nopre     type1           p4
  1               cf  Joint         nopre     type1           p4
  2               cf   Male         nopre     type1           p4
  3               cf   Male         nopre     type1           p3
  4               cf   Male         nopre     type1           p4
  ...            ...    ...           ...       ...          ...
  1999995         cf  Joint         nopre     type1           p3
  1999996         cf  Joint         nopre     type1           p3
  1999997         cf   Male         nopre     type1           p4
  1999998         cf   Male         nopre     type1           p4
  1999999         cf  Joint         nopre     type1           p3

          Credit_Worthiness open_credit    loan_amount  rate_of_interest  \
  0                      l1        nopc  422001.109007          3.505336
  1                      l1        nopc  202230.579578          2.735923
  2                      l1        nopc  268874.015572          3.240248
  3                      l1        nopc  370067.583813          3.710928
  4                      l1        nopc  184238.330083          3.908432
  ...                   ...         ...            ...               ...
  1999995                l1        nopc  247020.122515          4.609408
  1999996                l1        nopc  624006.205190          3.102321
  1999997                l1        nopc  348160.354668          3.775875
  1999998                l1        nopc  295145.414201          4.756159
  1999999                l1        nopc  383298.923297          3.984156

           Interest_rate_spread  Upfront_charges        term Neg_ammortization  \
  0                   -0.247677        98.244268  362.483540           not_neg
  1                   -0.033744      3453.383414  365.574679           not_neg
  2                   -0.223760      5291.596760  352.883335           not_neg
  3                    0.189521      1297.230184  361.432421           not_neg
  4                    0.264863        88.705272  303.409782           not_neg
  ...                       ...              ...         ...               ...
  1999995              0.822964      3155.825138  350.791551           not_neg
  1999996             -0.250877     18833.034638  319.583989           not_neg
  1999997              0.116265       357.304367  350.482278           not_neg
  1999998              0.951092       804.333217  366.838481           not_neg
  1999999              0.452204        72.171112  349.411012           not_neg

          interest_only lump_sum_payment  property_value construction_type  \
  0             not_int         not_lpsm    3.584306e+05                sb
  1             not_int         not_lpsm    6.649360e+05                sb
  2             not_int         not_lpsm    4.303863e+05                sb
  3             not_int         not_lpsm    4.529448e+05                sb
  4             not_int         not_lpsm    5.099236e+05                sb
  ...               ...              ...             ...               ...
  1999995       not_int         not_lpsm    4.984941e+05                sb
  1999996       not_int         not_lpsm    8.654027e+05                sb
  1999997       not_int         not_lpsm    7.252061e+05                sb

In [ ]:
simulated_dfs = [df[0] for df in simulated_dfs]

In [ ]:
simulated_dfs[0]

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,property_Area,BAD
0,Male,Yes,0,Graduate,No,5026.507903,375.942637,210.101170,235.361221,0.969661,Rural,0
1,Male,Yes,0,Graduate,No,3318.062063,1925.359743,69.273820,400.602184,1.092508,Semiurban,0
2,Male,Yes,0,Graduate,No,1461.323970,151.528263,47.493049,213.445358,0.870025,Semiurban,0
3,Male,Yes,0,Graduate,No,7892.103733,6.752256,226.979327,323.430806,0.947791,Rural,0
4,Male,No,0,Graduate,No,2987.358633,1494.290591,134.140959,400.980577,0.985731,Semiurban,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,Male,Yes,0,Graduate,No,5013.989285,44563.478635,214.638621,355.846777,1.119402,Semiurban,0
1999996,Male,No,0,Graduate,No,5337.928536,132.995468,192.465271,343.530342,0.982308,Semiurban,0
1999997,Male,Yes,0,Graduate,No,3824.661543,34.653814,110.590895,342.519181,0.624798,Urban,0
1999998,Male,No,1,Graduate,No,4302.180533,0.559099,78.457703,343.521151,1.055904,Rural,0
1999999,Male,Yes,0,Graduate,No,6619.414321,0.933657,319.656503,335.202947,1.090048,Rural,0

In [ ]:
# Create starting round, original datasets, MC datasets
dfs_start=[]
dfs_al=[]
dfs_al_mc=[]

for df, sim in zip(df_list, simulated_dfs):
    start, al, al_mc = al_splitting(df,sim)
    dfs_start.append(start)
    dfs_al.append(al)
    dfs_al_mc.append(al_mc)

In [ ]:
# Save as csv
for i, df in enumerate(dfs_start):
    df.to_csv(f'start_{i}.csv', index=False)
    
for i, df in enumerate(dfs_al):
    df.to_csv(f'AL_original_{i}.csv', index=False)
    
for i, df in enumerate(dfs_al_mc):
    df.to_csv(f'AL_MC_{i}.csv', index=False)